#okfixedlayout {
  width: 950px;
  margin: auto;
  padding: 60px 10px 0px 10px;
  overflow: visible;
}
#oklogojoin {
  width: 100%;
  height: 56px;
  border-collapse: collapse;
  font-size: 10.6667px;
  text-align: right;
  table-layout: fixed;
  white-space: nowrap;
}
a.oklink {
  text-decoration: underline;
  font-size: 10.6667px;
}
a.oklink:hover {
  text-decoration: none;
}
a.oklink:visited {
  color: #004eff;
  text-decoration: underline;
}
#oktlj1 {
  vertical-align: bottom;
  padding-bottom: 3px;
}
#oktlj2 {
  vertical-align: bottom;
  padding-bottom: 5px;
}
#okwhitebox {
  background: white;
  width: 940px;
  height: fit-content;
}
#okbuttonbar1 {
  margin: 12px 0px -3px 8px;
}
#okbuttonbar2 {
  margin: 12px 0px -3px 8px;
}
.oknavdiv {
  font-size: 10.6667px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 8px;
}
#okpeopleb {
  background: none;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#oktestsb {
  background: none;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.okspace {
  display: block;
  height: 11px;
  width: 4.29px;
}
.okcolor1 {
  background: #99b5ff;
  padding: 2px;
}
.okcolor2 {
  background: #c5d8ff;
}
.okcolor3 {
  background: #d4e0ff;
}
#oknav2 {
  display: none;
}
.okpeopletests {
  width: 226px;
  padding-left: 10px;
  background: #dbe6ff;
  border-collapse: collapse;
}
a.oktlink {
  color: #0047ff;
  text-decoration: none;
}
a.oktlink:hover {
  text-decoration: underline;
}
#tdcolor1 {
  background: #e4ebff;
  padding: 2px;
}
.okcollapsible {
  font-family: verdana;
  color: #0047ff;
  background: none;
  border: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.okcollapsible:hover {
  color: #0047ff;
  background-color: #bbccff;
}
.okccontent1 {
  padding-left: 30px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height;
}
.okccontent2 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height;
}
a.oklinkbutton {
  color: black;
  text-decoration: none;
}
a.oklinkbutton:hover {
  color: black;
  text-decoration: none;
}
a.oklinkbutton:visited {
  color: black;
  text-decoration: none;
}
.okspan {
  color: #3c6ce6;
}
#oklimg {
  background: none;
  margin-top: 11px;
  margin-left: 5px;
}
#oklogin {
  background: #ffddee;
  font-size: 13.3333px;
  border-collapse: separate;
  padding: 1px;
  border: 1px solid #ffaacc;
  margin: -6px 0px 0px 0px;
  width: 240.36px;
  height: 85px;
}
.oklinfo {
  color: #ff0099;
  display: inline-block;
  width: 73.74px;
  vertical-align: middle;
}
#oklip {
  font-size: 9.33333px; 
  width: fit-content;
  margin: -11px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#okleftside {
  border-collapse: collapse;
  padding: 0px 0px 0px 0px;
  position: relative;
  margin-right: 0px;
  margin-left: 9px;
}
#okjointable {
  font-size: 10.6667px;
  width: 666px;
  height: 45px;
  border-collapse: separate;
  border: 1px solid #3c6ce6;
  background: #dbe6ff;
  box-shadow: 5px 4px #dae4f8;
  margin-top: 10px;
}
.okjtt {
  display: inline-block;
  width: fit-content;
}
#okuser {
  width: 695px;
  margin-top: 22px;
  margin-left: 0px;
  font-size: 13.3333px;
}
#okusert {
  display: block;
  width: 400px;
  height: fit-content;
  margin-left: 3px;
}
a.okmytests {
  color: blue;
  text-decoration: underline;
}
a.okmytests:hover {
  color: blue;
  text-decoration: none;
}
a.okmytests:visited {
  color: #004eff;
  text-decoration: underline;
}
#okimgstats {
  text-align: center;
  display: block;
  float: right;
  vertical-align: top;
  margin-left:  8px;
  margin-right: 10px;
}
#okcomparison {
  background: #e4ebff;
  border-collapse: collapse;
  width: 280px;
  text-align: left;
  font-size: 13.3333px;
}
.okstats {
  background: white;
  border-collapse: separate;
  border: 1px solid #99b5ff;
  width: 96px;
}
.okuiheader {
  font-size: 13.3333px
}
.okuinfo {
  font-family: arial;
  font-size: 13.3333px;
  margin-left: 20px;
  margin-top: 0px;
}
a.okucomment {
  text-decoration: underline;
  color: blue;
  font-family: verdana;
  font-size: 13.3333px;
}
a.okucomment:hover {
  text-decoration: none;
  color: blue;
  font-family: verdana;
  font-size: 13.3333px;
}
a.okucomment:visited {
  text-decoration: underline;
  color: #004eff;
  font-family: verdana;
  font-size: 13.3333px;
}
.okcomment {
  font-family: arial;
  font-size: 13.3333px;
}
a#oksuperlink {
  text-decoration: underline;
  color: blue;
  font-family: arial;
  font-size: 13.3333px;
}
a#oksuperlink:hover {
  text-decoration: none;
  font-weight: bolder;
  font-family: arial;
  font-size: 13.3333px;
  background: linear-gradient(125deg, red, orange, olive, green, blue, indigo, purple);
  background-size: 500% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  animation: rainbow 5s ease-in-out infinite alternate;
}
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
a#oksuperlink:visited {
  text-decoration: underline;
  color: purple;
  font-family: arial;
  font-size: 13.3333px;
}
.okiam {
  font-family: verdana;
  font-size: 13.3333px;
}
.okiambox {
  background-image: url("okyellow.gif");
  border-collapse: separate;
  border: 1px solid #333333;
  display: grid;
  height: 15px;
  padding: 2px;
  align-items: center;
}
.okiabtext {
  font-family: arial;
  font-size: 13.3333px;
}
.okinfotable {
  border-collapse: collapse;
  font-family: verdana;
  font-size: 9.33333px;
  color: #1e50c2;
  padding: 2px;
}
#okquestions {
  font-family: arial;
  font-size: 13.3333px;
  color: #6666cc;
  margin-left: 20px;
  padding: 0;
  line-height: 10px;
}
#okuquestions {
  font-family: arial;
  font-size: 13.3333px;
  color: black;
  margin-left: 20px;
  padding: 0;
  line-height: 10px;
}
#oktakentests {
  font-family: arial;
  font-size: 13.3333px;
}
a#okttests {
  color: #cc3377;
  text-decoration: underline;
}
a#okttests:hover {
  color: #cc3377;
  text-decoration: none;
}
a.oknlink {
  color: blue;
  text-decoration: underline;
}
a.oknlink:hover {
  color: blue;
  text-decoration: none;
}
a.oknlink:visited {
  color: #004eff;
  text-decoration: underline;
}